.div_h{
  min-height: 180px !important;
  min-width: 300px !important;
  border-radius: 18px;
}
.Active{
  background-color: #DDF0F8;
}
.Active h3{
  background-color: #ddf0f800;
  border: 1px solid black;
  border-radius: 19px;
  padding: 0px 30px 0px 30px;
}
.Recovered{
  background-color: #BCE5BA;
}
.Recovered h3{
  background-color: #bce5ba4d;
  border: 1px solid black;
  border-radius: 19px;
  padding: 0px 30px 0px 30px;
}
.Deaths{
  background-color: #FFB4B1;
}
.Deaths h3{
  background-color: #ffb4b193;
  border: 1px solid black;
  border-radius: 19px;
  padding: 0px 30px 0px 30px;
}
.Conformed{
  background-color: #ABE9ED;
}
.Conformed h3{
  background-color: #ABE9ED;
  border: 1px solid black;
  border-radius: 19px;
  padding: 0px 30px 0px 30px;
}